@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#form{
    margin: 2% 30%;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.body{
    transition: background 0.2s linear;
}

.label{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    width: 50px;
    height: 26px;
    transform: scale(1.3);
}

body.dark {
    background-color: #292c35;
    color: #fff;    
}

.ball{
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}


.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon{
    color: #f1c40f;

}

.fa-sun{
    color: #f39;;
}

.theme-switcher{
    margin-right: 24px;
    float: right;
    padding: 20px;
}

.table{
    /* color: #fff; */
}
